/* CSS Document */

.form1
{
font-size:24px;
font-weight:bold;
text-align:center;
margin:30px auto;
}

.taiken_midashi
{
	font-size:20px;
	font-weight:bold;
	color:#CC0000;
	text-align:center;
	margin-top: 30px;
}
